@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?5j3kit');
	src: url('../fonts/icomoon.eot?5j3kit#iefix')
		format('embedded-opentype'), url('../fonts/icomoon.ttf?5j3kit')
		format('truetype'), url('../fonts/icomoon.woff?5j3kit') format('woff'),
		url('../fonts/icomoon.svg?5j3kit#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #000;
	text-decoration: none;
}

body {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.size_of_logo {
	border-radius: 56%;
	height: 40px;
	margin-right: 3%;
	width: 40px;
}

.facebook:hover {
	background: #3a579d;
}

.twitter:hover {
	background: #00aced;
}

.google:hover {
	background: #dc4a38;
}

.kaszucar {
	margin: 0 0 0 38%;
}

.logo {
	height: auto;
	width: 80px;
}

.header-kaszu {
	background: rgba(238, 238, 238, 0.5);
	padding: 1%;
	width: 100%;
    float: left;
}

.connexion, .inscription {
	background: black;
	border-radius: 5%;
	color: #8fb5c4;
	padding: 1.5% 2%;
}

.connexion {
	margin-left: 50%;
	margin-right: 3%;
}

.img-background {
	background: url("../img/route4.jpeg");
	background-size: cover;
	height: 100vh;
	-webkit-background-size: cover;
}

.img-background img, .background-singin img, .background-singup img{
	height: auto;
	width: 100%;
}

.background-singin{
	background: url("../img/route4.jpeg");
	background-size: cover;
	height: 100vh;
	margin-top: -10.5%;
	-webkit-background-size: cover;
}

.background-singup{
	background: url("../img/route4.jpeg");
	background-size: cover;
	height: 100vh;
	margin-top: -10.5%;
	-webkit-background-size: cover;
}

.reseaux-sociaux, .center-logo, .conn-insc {
	display: inline-block;
	vertical-align: middle;
	width: 33%;
}

.formulaire, .submitSearch {
	border-radius: 5%;
	color: #888888;
	display: inline-block;
	font-size: 1.3em;
	height: 1.5em;
	margin: 35% 2.8% 0;
	vertical-align: middle;
	width: 13.7%;
	
}

.formulaireInsc{
	border-radius: 5%;
	color: #888888;
	display: inline-block;
	font-size: 1em;
	height: 1.5em;
	margin: 2%;
	vertical-align: middle;
	width: 87%;
}

#yearBirth{
	width: 87.6%;
}

.input-formulaire {
	border-radius: 5px;
	border: none;
	height: 1.4em;
	padding-left: 0.5%;
}

.submitSearch {
	background: #3fb34f;
	border: none;
	border-radius: 5px;
	color: #fff;
}

.icon-calendar::-webkit-input-placeholder::before { 
	color: #333333;
	content:'\e900'; 
	margin-right: 0.5%;
}
.icon-calendar::-moz-placeholder::before  { 
	color: #333333;
	content:'\e900'; 
	margin-right: 0.5%;
} /* firefox 19+ */
.icon-calendar:-ms-input-placeholder::before  { 
	color: #333333;
	content:'\e900'; 
	margin-right: 0.5%;
} /* ie */
.icon-calendar:-moz-placeholder::before  { 
	color: #333333;
	content:'\e900'; 
	margin-right: 0.5%;
}

.icon-radio-checked::-webkit-input-placeholder::before { 
	color: #3fb34f;
	content:'\e901'; 
	margin-right: 0.5%;
}
.icon-radio-checked::-moz-placeholder::before  { 
	color: #3fb34f;
	content:'\e901'; 
	margin-right: 0.5%;
} /* firefox 19+ */
.icon-radio-checked:-ms-input-placeholder::before  { 
	color: #3fb34f;
	content:'\e901'; 
	margin-right: 0.5%;
} /* ie */
.icon-radio-checked:-moz-placeholder::before  { 
	color: #3fb34f;
	content:'\e901'; 
	margin-right: 0.5%;
}

.icon-radio-unchecked::-webkit-input-placeholder::before { 
	color: #f90000;
	content:'\e902';
	margin-right: 0.5%; 
}
.icon-radio-unchecked::-moz-placeholder::before  { 
	color: #f90000;
	content:'\e902'; 
	margin-right: 0.5%;
} /* firefox 19+ */
.icon-radio-unchecked:-ms-input-placeholder::before  { 
	color: #f90000;
	content:'\e902'; 
	margin-right: 0.5%;
} /* ie */
.icon-radio-unchecked:-moz-placeholder::before  { 
	color: #f90000;
	content:'\e902'; 
	margin-right: 0.5%;
}

.clearBoth{
	clear: both;
}

.signUp, .singnIn{
	font-size: 1.3em;
	margin: 0 auto;
	text-align: center;
	width: 26%;
}

.signUp h2, .singnIn h2{
	font-size: 1em;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.connexion {
	    margin-left: 30%;
	}
	.background-singin, .background-singup {
	    margin-top: -12.5%;
	}
	.reseaux-sociaux, .center-logo, .conn-insc {
		width: 32%;
	}
	.formulaire, .submitSearch {
	    font-size: 14px;
	    width: 13.6%;
	}
}