@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?5j3kit');
	src: url('../fonts/icomoon.eot?5j3kit#iefix')
		format('embedded-opentype'), url('../fonts/icomoon.ttf?5j3kit')
		format('truetype'), url('../fonts/icomoon.woff?5j3kit') format('woff'),
		url('../fonts/icomoon.svg?5j3kit#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dinpro';
	src: url('../fonts/dinproregular.eot?5j3kit');
	src: url('../fonts/dinproregular.eot?5j3kit#iefix')
		format('embedded-opentype'), url('../fonts/dinproregular.ttf?5j3kit')
		format('truetype'), url('../fonts/dinproregular.woff?5j3kit')
		format('woff'), url('../fonts/dinproregular.svg?5j3kit#icomoon')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i[class^="icon-"], i[class*="icon-"] {
	position: absolute;
	margin: 8px 0 0 7px;
	font-size: 19px;
}

input, textarea, keygen, select, button {
	font-family: 'dinpro';
}

a {
	color: #000;
	text-decoration: none;
}

body {
	font-family: 'dinpro';
	margin: 0;
	position: relative;
}

.size_of_logo {
	border-radius: 56%;
	height: 40px;
	margin-right: 3%;
	width: 40px;
}

.facebook:hover {
	background: #3a579d;
}

.twitter:hover {
	background: #00aced;
}

.google:hover {
	background: #dc4a38;
}

.kaszucar {
	margin: 0 0 0 38%;
}

.logo {
	height: auto;
	width: 80px;
}

.header-kaszu {
	background: rgba(238, 238, 238, 0.5);
	padding: 1%;
	width: 98%;
	float: left;
}

.connexion, .inscription {
	background: black;
	border-radius: 5%;
	color: #8fb5c4;
	padding: 1.5% 2%;
}

.connexion {
	margin-left: 50%;
	margin-right: 3%;
}

.img-background {
	background: url("../img/route4.jpeg");
	background-size: cover;
	min-height: 100%;
	-webkit-background-size: cover;
	background-attachment: fixed;
}

.background-singin {
	background: url("../img/route4.jpeg");
	background-size: cover;
	min-height: 100%;
	margin-top: -17px;
	-webkit-background-size: cover;
	background-attachment: fixed;
}

.background-singup {
	background: url("../img/route4.jpeg");
	background-size: cover;
	min-height: 100%;
	margin-top: -17px;
	-webkit-background-size: cover;
	background-attachment: fixed;
}

.reseaux-sociaux, .center-logo, .conn-insc {
	display: inline-block;
	vertical-align: middle;
	width: 33%;
}

.form-search-home {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	text-align: center;
}

.formulaire, .submitSearch {
	border-radius: 5%;
	color: #888888;
	display: inline-block;
	font-size: 17px;
	height: 40px;
	vertical-align: middle;
	border-radius: 5px;
	padding-bottom: 2px;
	margin-top: -1px;
	margin-right: 30px;
}

.formulaireInsc {
	border-radius: 5%;
	color: #888888;
	display: inline-block;
	font-size: 1em;
	height: 1.5em;
	margin: 2%;
	vertical-align: middle;
	width: 87%;
}

#yearBirth {
	width: 87.6%;
}

.input-formulaire {
	border-radius: 5px;
	border: none;
	height: 1.8em;
	width: 210px;
	padding-bottom: 5px;
	padding-top: 2px;
}

.blockInput .input-formulaire {
	padding-left: 30px;
}

.submitSearch {
	background: #3fb34f;
	border: none;
	color: #fff;
	padding: 8px 18px 14px 18px;
}

.icon-calendar:before {
	color: #333333;
	content: '\e900';
	margin-right: 0.5%;
}

.proposition {
	width: 145px;
	padding-left: 8px;
}

.icon-calendar::-webkit-input-placeholder::before {
	color: #333333;
	content: '\e900';
	margin-right: 0.5%;
}

.icon-calendar::-moz-placeholder::before {
	color: #333333;
	content: '\e900';
	margin-right: 0.5%;
} /* firefox 19+ */
.icon-calendar:-ms-input-placeholder::before {
	color: #333333;
	content: '\e900';
	margin-right: 0.5%;
} /* ie */
.icon-calendar:-moz-placeholder::before {
	color: #333333;
	content: '\e900';
	margin-right: 0.5%;
}

.icon-radio-checked:before {
	color: #3fb34f;
	content: '\e901';
	margin-right: 0.5%;
}

.icon-radio-checked::-webkit-input-placeholder::before {
	color: #3fb34f;
	content: '\e901';
	margin-right: 0.5%;
}

.icon-radio-checked::-moz-placeholder::before {
	color: #3fb34f;
	content: '\e901';
	margin-right: 0.5%;
} /* firefox 19+ */
.icon-radio-checked:-ms-input-placeholder::before {
	color: #3fb34f;
	content: '\e901';
	margin-right: 0.5%;
} /* ie */
.icon-radio-checked:-moz-placeholder::before {
	color: #3fb34f;
	content: '\e901';
	margin-right: 0.5%;
}

.icon-radio-unchecked:before {
	color: #f90000;
	content: '\e902';
	margin-right: 0.5%;
}

.icon-radio-unchecked::-webkit-input-placeholder::before {
	color: #f90000;
	content: '\e902';
	margin-right: 0.5%;
}

.icon-radio-unchecked::-moz-placeholder::before {
	color: #f90000;
	content: '\e902';
	margin-right: 0.5%;
} /* firefox 19+ */
.icon-radio-unchecked:-ms-input-placeholder::before {
	color: #f90000;
	content: '\e902';
	margin-right: 0.5%;
} /* ie */
.icon-radio-unchecked:-moz-placeholder::before {
	color: #f90000;
	content: '\e902';
	margin-right: 0.5%;
}

.clearBoth {
	clear: both;
}

.signUp, .singnIn {
	font-size: 1.3em;
	margin: 0 auto;
	text-align: center;
	width: 26%;
}

.signUp h2, .singnIn h2 {
	font-size: 1em;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	max-width: 350px;
	max-height: 380px;
	width: 100%;
	height: 100%;
}

.right-panel {
	line-height: 30px;
	padding-left: 10px;
}

.right-panel {
	margin: 10px;
	border-width: 2px;
	width: 88%;
	text-align: left;
}

.heigt-map {
	height: 426px;
}

.bloc-map-right {
	max-width: 350px;
	width: 100%;
	padding: 16px;
	border: 1px solid #DCDCDC;
	float: right;
	margin: 20px 30px 0px 0px;
	padding: 16px;
}

.bloc-map-left {
	max-width: 496px;
	width: 100%;
	padding: 16px;
	border: 1px solid #DCDCDC;
	float: left;
	margin: 20px 0px 0px 30px;
}

.content {
	max-width: 1000px;
	width: 99%;
	margin: 0 auto;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}

#title {
	padding: 0px 15px 10px;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 17px;
}

.textarea-100 {
	width: 100%;
	resize: vertical;
}

.button {
	background: #65a9d7;
	color: #FFFFFF;
	padding: 2px 6px;
	border-radius: 4px;
	cursor: pointer;
}

.button:hover {
	
}

.button:active {
	
}

.button-red {
	background: #F75448;
	color: #FFFFFF;
	padding: 2px 6px;
	border-radius: 4px;
	cursor: pointer;
}

.button-red:hover {
	
}

.button-red:active {
	
}

.blockInput {
	display: inline-block;
	margin-bottom: 20px;
}

.hide {
	display: none;
}

@media only screen and (min-device-width : 768px) and (max-device-width
	: 1024px) {
	.connexion {
		margin-left: 30%;
	}
	.background-singin, .background-singup {
		margin-top: -12.5%;
	}
	.reseaux-sociaux, .center-logo, .conn-insc {
		width: 32%;
	}
	.formulaire, .submitSearch {
		font-size: 14px;
		width: 13.6%;
	}
}

@media only screen and (max-width : 984px) {
	.content {
		border: none;
	}
	#map {
		margin: 0 auto;
	}
	.bloc-map-right {
		max-width: 496px;
		float: none;
		margin: 30px auto 20px auto;
		padding: 16px 0px;
	}
	.bloc-map-left {
		padding: 16px 0px;
		float: none;
		margin: 30px auto 20px auto;
	}
}

@media only screen and (max-width : 496px) {
	.bloc-map-right {
		margin-left: -1px;
	}
	.bloc-map-left {
		margin-left: -1px;
	}
}

@media only screen and (max-width : 723px) {
	.proposition {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0px;
		margin-top: 30px;
	}
	.blockInput {
		width: 100%;
		margin-right: 0px;
	}
	.input-formulaire {
		width: 92%;
		margin-right: 0px;
	}
	.blockInput .input-formulaire {
		padding-left: 8%;
	}
	.submitSearch {
		width: 100%;
		margin-right: 0px;
	}
	.form-search-home {
		position: initial;
	}
	.submitSearch {
		margin-bottom: 30px;
	}
}