<!DOCTYPE html>
<html>
<head lang="fr">
<meta charset="UTF-8" />
<title>Kazsucar</title>
<meta name="description" content="Site de covoiturage" />
<meta name="keywords" content="Coivturage,cars,voiture,transport" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width" />
<link type="text/css" rel="stylesheet" href="resources/css/site.css">
<script src="resources/js/jquery.js"></script>
<script src="resources/js/site.js"></script>
</head>
<body>
	<header class="header-kaszu">
		<div class="reseaux-sociaux">
			<a href="/"> 
				<img alt="Facebook" class="size_of_logo menu facebook" src="resources/img/facebook.png">
			</a>
			<a href="/"> 
				<img alt="Twitter" class="size_of_logo menu twitter" src="resources/img/twitter.png">
			</a>
			<a href="/"> 
				<img alt="Google Plus" class="size_of_logo menu google" src="resources/img/googleplus.png">
			</a>
		</div>
		<div class="center-logo">
			<h1 class="kaszucar"> 
				<a href="/">
					<img alt="Logo kaszucar" class="logo menu" src="resources/img/logo.png">
				</a> 
			</h1>
		</div>
		<div class="conn-insc">
			<a href="connexion" class="menu connexion">Connexion</a> 
			<a href="inscription" class="menu inscription">Inscription</a>
		</div>
	</header>